/*colors*/


/*

black #24201F
red #e74c3c
white #FFFFFF
light grey #ecf0f1 
dark grey  #bdc3c7
blue for bot conversation #2980b9
fonts 
Roboto
Open Sans Italic

font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;\
font-family: 'Roboto', sans-serif;

*/


/*general*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    font-size: 20px;
    font-weight: 100;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 20px;
}

h1 {
    font-size: 245%;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #24201F;
    letter-spacing: 1px;
    word-spacing: 4px;
    letter-spacing: 3px;
}

h2 {
    font-size: 180%;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #24201F;
    text-align: center;
    margin: 20px auto 20px auto;
    letter-spacing: 3px;
}

h3 {
    font-size: 120%;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h4 {
    font-size: 100%;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #e74c3c;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: uppercase;
}

h5 {
    font-size: 80%;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

p {
    font-size: 85%;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}


/*.clearfix {
    *zoom: 1;
}*/


/*
.clearfix:before,
.clearfix:after {
    content: ' ';
    display: block;
}
.clearfix:after{
    clear: both;
}
*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}


/* Hides from IE-mac \*/

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}


/* End hide from IE-mac */


/* @end */


/*buttons*/

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 12px 26px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    text-transform: uppercase;
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.btn:hover,
.btn:active {
    border: 2px solid #e74c3c;
    color: #e74c3c;
    background-color: transparent;
}

.btn-main {
    border: 2px solid #e74c3c;
    background-color: #e74c3c;
    color: #fff;
}

.btn-main:hover,
.btn-main:active {
    border: 2px solid #e74c3c;
    color: #e74c3c;
    background-color: transparent;
}


/*.btn:hover,
.btn:active {
    background-color: #e74c3c;
}

.btn-main {
    border: 2px solid #e74c3c;
    color: #e74c3c;
    background-color: transparent;
}

.btn-main:hover,
.btn-main:active {
    color: #fff;
    background-color: #e74c3c;
}*/

input[type=submit] {
    border: 2px solid #fff;
    color: #e74c3c;
    background-color: #fff;
    text-transform: uppercase;
    font-size: 80%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

input[type=submit]:hover,
input[type=submit]:active {
    color: #fff;
    background-color: transparent;
}


/*nav*/


/*#container-home {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;

    border-bottom: #eeeeee 1px solid;
    background-color: white;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);

    z-index: 1000;
}*/

.logo {
    float: left;
    height: 35px;
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-bottom: #eeeeee 1px solid;
    background-color: white;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}


/*nav ul {
    list-style: none;
    position: relative;
    float: right;
    margin-right: 100px;
    display: inline-table;
}*/


/*nav ul li {
    display: inline-block;
    padding: 15px 0;
}*/


/*nav ul li {
     float: left;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
}*/


/*nav ul li a {
    display: block;
    color: #24201F;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 80%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    -webkit-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;
}*/

nav li a:hover,
nav li.active a {
    color: #e74c3c;
}


/*nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 100%;
    box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .1);
}*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    position: relative;
    float: right;
    display: inline-table;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 15px 0;
}


/*nav ul li:hover {
    background: rgba(0, 0, 0, 0.15);
}*/

nav ul li:hover>ul {
    display: block;
}

nav ul li {
    float: left;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav ul li a {
    display: block;
    color: #222;
    margin-left: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

nav ul ul {
    display: none;
    background: #fff;
    position: absolute;
    top: 101%;
    /*box-shadow: 0 60px 100px rgba(0, 0, 0, .4);*/
    box-shadow: -3px 3px 10px -3px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul ul li {
    float: none;
    position: relative;
}

nav ul ul li a {
    padding-right: 25px;
}

nav ul ul ul {
    position: absolute;
    left: 100%;
    top: 0;
}


/*mobile navigation*/

.mobile-nav-icon {
    float: right;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: red;
}


/*home*/

#header-index {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba( 255, 255, 255, 0.6)), url(../img/home2.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    padding-top: 70px;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text-box p {
    padding-bottom: 10px;
}

#home-slider .owl-dots {
    text-align: left;
    padding-bottom: 30px;
}


/*features*/

.content-title-underline {
    width: 40px;
    height: 4px;
    background-color: #e74c3c;
    margin: 0 auto 40px auto;
}

.features-box {
    margin-top: 30px;
}


/*#demo-video{
    position: relative;
}*/

.phone-wrap-box {
    display: block;
    height: auto;
    float: left;
}

.phone-wrap {
    display: block;
    position: relative;
    height: auto;
}

.app-screen {
    display: block;
    position: absolute;
    width: 400px;
    top: 0;
    right: 0;
    overflow: hidden
}

.video-wrap {
    display: block;
    position: absolute;
    top: 92px;
    right: 79px;
    width: 255px;
}

.video {
    width: 100%;
    height: auto;
    overflow: hidden
}

.features-box {
    display: block;
    float: right;
}

.features-box:first-child {
    text-align: right;
    padding-right: 10px;
    margin-top: 30px;
}

.features-box:last-child {
    text-align: left;
    padding-left: 10px;
    margin-top: 110px;
    margin-bottom: 90px;
}

.works-step {
    margin-bottom: 20px;
    width: 85%;
    list-style: none;
}

.works-step i {
    color: #e74c3c;
    font-size: 150%;
    height: 54px;
    width: 54px;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}


/*features-demo*/


/*#features-demo {
    background-image: url(../img/girl_on_phone_with_coffee.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/

.container-features-1 {
    background-image: url(../img/pizza-order.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-features-2 {
    background-image: url(../img/bank.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-features-3 {
    background-image: url(../img/shopping%201.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-features-4 {
    background-image: url(../img/office.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-features-5 {
    background-image: url(../img/shopping-in-store.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.owl-carousel .owl-item img {
    height: 650px;
    width: auto;
}

.features-bot {
    height: 650px;
    width: auto;
}

.right {
    float: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}


/*benefits*/

.benefit span .fa-inverse {
    color: #e74c3c;
}

.benefit span .fa-stack-2x {
    color: #ecf0f1;
}

.benefit span {
    display: inline-block;
    text-align: justify;
    float: left;
    margin-right: 25px;
    margin: 25px 25px 55px 25px;
}

.benefit {
    margin-bottom: 45px;
}


/*tech details*/

#tech-details {
    background-color: #fafafa;
    text-align: center;
}

.tech-details-box {
    border-right: #ecf0f1 2px dotted;
    height: 345px;
    text-align: center;
    padding: 0 10px;
    margin: 30px 0;
}

.tech-details-box:last-child {
    border-right: none;
}

.tech-detail span .fa-inverse {
    color: #e74c3c;
}

.tech-detail span .fa-stack-2x {
    color: #ecf0f1;
}

.tech-detail span {
    margin-bottom: 30px;
}


/*partners*/

#partners {
    background-color: #bdc3c7;
}

.partners-box {
    margin-bottom: 50px;
    margin-top: 30px;
}

.partners-box li {
    display: table-cell;
    vertical-align: middle;
    padding: 15px 0;
    text-align: center;
    height: 90px;
}

.partners-box li img {
    float: left;
    height: 100%;
    width: auto;
    margin: auto 15px;
}

.partners-box li:nth-child(2) {
    height: 60px;
}


/*media*/

.media-box-content {
    border: 1px solid #ecf0f1;
    padding: 20px;
    width: 80%;
    margin-left: 10%;
}

.media-box-content a {
    text-decoration: none;
}

.media-box-content a p:hover {
    color: #e74c3c;
    -webkit-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;
}


/*footer*/

#say-hello {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 51, 46, 0.8)), to(rgba(218, 51, 46, 0.8))), url(../img/hero-bg.png);
    background-image: linear-gradient(rgba(218, 51, 46, 0.8), rgba(218, 51, 46, 0.8)), url(../img/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

#say-hello h2,
#say-hello p {
    color: #fff;
}

#say-hello .content-title-underline {
    background-color: #fff;
}

#say-hello h5 {
    font-size: 100%;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
}

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 85%;
}

.social-icon i:hover {
    color: #24201F
}

.icon-white i {
    color: #fff;
}

.container-message {
    width: 100%;
}

.contact-form {
    width: 100%;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border: #fff 2px solid;
    font-size: 85%;
    font-weight: 300;
    padding: 10px 100px 10px 10px;
    margin-bottom: 10px;
    color: #fff;
    width: 100%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.81);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.81);
}

input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.81);
}

.message {
    height: 265px;
}

*:focus {
    outline: none;
}

#contacts {
    background-color: #444;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}

#contacts h5,
#contacts p {
    color: white;
}


/* company page*/


/*company-about*/

#company-about {
    background-color: #fafafa;
}

#company-about h3 {
    margin-top: 100px;
}

#company-about h2 {
    text-align: left;
}

#company-about .content-title-underline {
    margin-left: 0;
}

#company-about p {
    text-align: justify;
}


/*company-leadership*/

.leadership-company-box img {
    float: left;
    max-width: 126px;
    border-radius: 50%;
    margin-left: 100px;
    /*box-shadow: 0 60px 100px rgba(0, 0, 0, .4);*/
    /*box-shadow: 0 3px 10px 1px rgba(0, 0, 0, .48);*/
}

.leadership-company-box h3 {
    margin-bottom: 0;
}

#conect-btn {
    background-color: #fafafa;
}

#conect-btn .row {
    margin-top: 50px;
}

#conect-btn .btn {
    margin-left: 70px;
}


/*footer*/

#footer-bottom {
    background-color: #24201F;
}

#footer-copyrights p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}

#footer-menu {
    color: #fff;
    font-size: 80%;
    font-weight: 700;
    line-height: 30px;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu a {
    color: #fff;
    font-size: 80%;
    font-weight: 700;
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#footer-menu a:hover {
    color: #e74c3c;
    -webkit-transition: 0.2s, color 0.2s;
    transition: 0.2s, color 0.2s;
}


/*responsive*/

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    .row {
        padding: 0 2%;
    }
    .benefit span {
        margin: 15px 0 70px 0;
    }
    .partners-box li {
        height: 70px;
    }
    #footer-copyrights p,
    #footer-menu a {
        font-size: 65%;
    }
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 18px;
    }
    .logo {
        height: 25px;
        margin-top: 15px;
    }
    .nav li a {
        margin-left: 10px;
        font-size: 70%;
    }
    .app-screen {
        display: block;
        position: absolute;
        width: 400px;
        top: 0;
        right: 0;
    }
    .video-wrap {
        display: block;
        position: absolute;
        top: 92px;
        right: 79px;
        width: 255px;
    }
    .works-step i {
        margin-right: 5px;
        margin-bottom: 50px
    }
    .features-box:last-child {
        margin-top: 30px;
    }
    .features-box {
        padding-left: 0;
    }
    .features-box ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .features-box:last-child {
        padding-left: 0;
        margin-bottom: 0;
    }
    .works-step {
        width: 100%;
        margin-bottom: 10px;
    }
    .features-box p {
        width: 100%;
    }
    .features-bot {
        width: 100%
    }
    .benefit {
        text-align: center;
        margin-bottom: 0;
    }
    .benefit span {
        float: none;
        margin: 0px 0 15px 0;
    }
    .benefit p {
        text-align: justify;
        margin-left: 40px;
    }
    .benefit span i {
        -webkit-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
    }
    .tech-details-box {
        width: 50%;
        border: none;
        margin: 0 0;
        height: auto;
    }
    .tech-detail p {
        text-align: justify;
        margin-left: 40px;
    }
    .tech-detail span {
        margin-bottom: 0;
    }
    .tech-detail span i {
        -webkit-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
    }
    .media-box-content {
        padding: 10px;
    }
    .media-box-content a p {
        width: 100%;
    }
    #footer-menu a {
        font-size: 55%;
        margin: 0 3px;
        line-height: 16px;
    }
    #footer-copyrights p {
        line-height: 33px;
    }
    .message {
        height: 310px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 180%;
    }
    h2 {
        font-size: 150%;
    }
    nav li a {
        display: none;
    }
    .hero-text-box {
        text-align: center;
    }
    #home-slider .owl-dots {
        text-align: center;
    }
    .phone-wrap-box {
        height: 500px;
        display: flex;
    }
    .phone-wrap {
        left: 0;
        height: 500px;
        width: 300px;
    }
    .flex-box1 {
        width: auto;
        order: -1;
        flex-grow: 1;
    }
    .flex-box2 {
        width: auto;
        flex-grow: 1;
    }
    .app-screen {
        width: 300px;
    }
    .video-wrap {
        top: 69px;
        right: 60px;
        width: 190px;
        height: 520px;
    }
    .features-box {
        width: 100%;
    }
    .features-box:first-child {
        width: 70%;
        margin-left: 16%;
        text-align: center;
        padding-right: 0;
    }
    .works-step {
        width: 80%;
        margin: 0 auto;
    }
    .works-step i {
        margin-bottom: 43px;
    }
    .features-bot {
        width: 70%;
    }
    .benefits-box,
    .tech-details-box,
    .about-company-box,
    .media-box,
    .contact-box,
    .message-box-content,
    .contact-form .col,
    .span-1-of-2 {
        width: 100%;
        padding-left: 0;
        margin: 0 auto;
    }
    .benefit p,
    .tech-detail p {
        width: 70%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    .span-1-of-2:last-child {
        margin-left: 0;
    }
    #about-company h2,
    #about-company h3 {
        text-align: center;
    }
    #about-company .content-title-underline {
        margin-left: auto;
    }
    .media-box-content {
        margin-left: 0;
        width: 100%;
    }
    .container-message .row {
        padding: 0 0;
    }
    #footer-menu {
        display: none;
    }
    #footer-bottom {
        text-align: center;
    }
    .message {
        height: 200px;
    }
    .partners-box li {
        display: block;
        margin: 0 auto 50px auto;
    }
    .partners-box li img {
        text-align: center;
        margin: 0 auto;
        float: none;
    }
    /*mobile nav*/
    .mobile-nav-icon {
        display: inline-block;
    }
    .nav {
        display: none;
    }
    .nav {
        float: left;
        margin-top: 0px;
        margin-left: 25px;
    }
    .nav li {
        display: block;
        padding: 5px;
    }
    .nav li a:link,
    .nav li a:visited {
        display: block;
        padding: 12px 0 0 0;
        font-size: 75%;
    }
}

@media only screen and (max-width: 736px) {
    body {
        font-size: 14px;
    }
    .hero-text-box p {
        font-size: 90%;
        line-height: 18px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .h1-home {
        max-width: 80%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 619px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 140%;
    }
    h2 {
        font-size: 130%;
    }
    .hero-text-box p {
        font-size: 80%;
        line-height: 18px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .owl-carousel .owl-item img {
        height: 500px;
        width: auto;
    }
    .features-bot {
        height: 500px;
        width: auto;
    }
}

@media only screen and (max-width: 514px) {
    body {
        font-size: 14px;
        line-height: 1.2;
    }
    .hero-text-box {
        margin-top: 20px;
    }
    #home-slider .owl-dots {
        padding-bottom: 0;
    }
    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 0;
    }
    .contact-box {
        margin-bottom: 50px;
    }
    .media-box {
        margin-bottom: 50px;
    }
    .partners-box li:nth-child(2) {
        -webkit-transform: scale(0.7, 0.7);
        transform: scale(0.7, 0.7);
    }
    .hero-text-box p {
        font-size: 90%;
        line-height: 18px;
        padding-bottom: 0;
        margin-bottom: 0;
        letter-spacing: 0;
    }
    /*.partners-box:nth-child(2) {
        width: auto;
        height: 50%;
    }*/
}
